<launch>
  <!-- Delay the launch of rtabmap_ros node to ensure RealSense node is ready -->
  <node pkg="rtabmap_ros" type="rtabmap" name="rtabmap" output="screen">
    <param name="frame_id" type="string" value="camera_link"/>
    <param name="subscribe_depth" type="bool" value="true"/>
    <param name="subscribe_rgb" type="bool" value="true"/>
    <param name="subscribe_scan" type="bool" value="false"/>
    <param name="subscribe_scan_cloud" type="bool" value="false"/>
    <param name="subscribe_stereo" type="bool" value="false"/>
    <param name="subscribe_user_data" type="bool" value="false"/>
    <param name="approx_sync" type="bool" value="true"/>
    
    <remap from="rgb/image" to="/camera/color/image_raw"/>
    <remap from="rgb/camera_info" to="/camera/color/camera_info"/>
    <remap from="depth/image" to="/camera/depth/image_rect_raw"/>
  </node>

  <!-- Use rtabmapviz for visualization -->
  <node pkg="rtabmap_ros" type="rtabmapviz" name="rtabmapviz" output="screen">
    <param name="frame_id" type="string" value="camera_link"/>
    <param name="subscribe_depth" type="bool" value="true"/>
    <param name="subscribe_rgb" type="bool" value="true"/>
    <param name="subscribe_scan" type="bool" value="false"/>
    <param name="subscribe_scan_cloud" type="bool" value="false"/>
    <param name="subscribe_stereo" type="bool" value="false"/>
    <param name="subscribe_user_data" type="bool" value="false"/>
    <param name="approx_sync" type="bool" value="true"/>
    
    <remap from="rgb/image" to="/camera/color/image_raw"/>
    <remap from="rgb/camera_info" to="/camera/color/camera_info"/>
    <remap from="depth/image" to="/camera/depth/image_rect_raw"/>
  </node>
</launch>
